<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getresumecounter20220825143256.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7026d057-897c-4ecf-ba57-018b4fbb8f32/resourcegroups/azureresumeRg/providers/Microsoft.Web/sites/GetResumeCounter20220825143256</ResourceId>
    <UserName>$GetResumeCounter20220825143256</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://getresumecounter20220825143256.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>